@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 100%;
    font-family: "Sour Gummy", sans-serif;

img, video{
        height: auto;
        max-width: 50%;
        ; 

}
body{
    background-color: #faebd7;
}
h1{

    text-align: center;
    font-size: 4rem;
    color: #cf7620;
}

nav ul{
    list-style: none;
    padding: 59;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

nav li{
  display: inline-block;
  margin-right: 20px;
}

figcaption{
    font-size: 1.75rem;
}

p{
    font-size: 2rem;
    color: #f87f3b;
}